.about-div{
   
    width: 100%;
   
    
    line-height: 1.5;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;

   
}
.photo{
    animation: slide-down 1.5s     ease-in-out;
    border: 5px solid gold;
    padding: 2em;

}

  




.texts{

    animation: slide-up 2s     ease-in-out;

    width: 60%;
    background-color: rgb(224, 132, 132,0.1);

    border-radius: 20px;
    padding: 2em;
    letter-spacing: 2px;
    font-family:sans-serif;
    font-size: 1.1em;

}