@font-face {
    font-family:review ;
    src: url(./fonts/Rajdhani-Light.ttf);
  }
.about-div{
   
    width: 100%;
   
    
    line-height: 1.5;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
font-family: review;
font-weight: bold;

   
}
.photo{
    animation: slide-down 1.5s     ease-in-out;
    padding: 2em;

}

  




.texts{

    animation: slide-up 2s     ease-in-out;

    width: 50%;
    background-color: rgb(224, 132, 132,0.1);

    border-radius: 20px;
    padding: 2em;
    letter-spacing: 3px;
    font-size: 1.1em;

}