@font-face {
    font-family:review ;
    src: url(./fonts/Rajdhani-Light.ttf);
  }
.about-div{
  
    width: 100%;
   
    
    line-height: 1.5;
display: flex;
align-items: center;
justify-content: space-around;

font-family: review;
font-weight: bold;

   
}
.photo{
    animation: slide-down 1.5s     ease-in-out;
    padding: 1em;
   border: 7px double #f5e1ce;

margin-left: 1em;
margin-right: 1em;
}

  
.photo img{
    width: 400px;

}


@media only screen and (max-width: 820px) {
.about-div{
    flex-wrap: wrap;
}

.photo img{
    width: 80%;
}

.photo{
    width: 100%;
text-align: center;

}
.texts{
    margin-right: 0em;
}
}

.texts{

    animation: slide-up 2s     ease-in-out;
margin-top: 1em;
    width: 80%;
    
    border-top:  2px solid #f5e1ce;
    border-bottom: 2px double #f5e1ce;   

    padding: 2em;
    
    letter-spacing: 3px;
    font-size: 1.1em;
    

}