.commerce-div{
    
    margin: auto;
   letter-spacing: 2px;
    text-align: center;
    line-height: 2;
    min-height: 330px;
margin-top: 7em;
   
    
  
}

.commerce-div h1{
    font-family: review;
    font-weight: normal;
   
}

.commerce-div p{
    width: 70%;
    text-align: center;
    margin: auto;
}


