footer{
padding-top: 0.025em;
  
  background-color: rgba(250, 200, 200, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 214124;

}

.photos{
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}
.photos img{
  width: 280px;
  height: 280px;
  

}

footer ul{
  gap: 2em;
  
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 3px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

}

@media only screen and (max-width: 700px) {
footer ul{
  flex-direction: column;
 

}
}





.ending{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 0.9em;
font-style: italic;
 text-align: center;
}
.fa-instagram{
  font-size: 2em;
  margin-left: 0.2em;
}
.follow{
  width: 100%;
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 letter-spacing: 2px;

}
footer .fa-instagram{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.fa-instagram:hover{
  transform: translateY(-15%) rotate(10deg);

  transition: 0.2s;
}


.f-scroll {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.f-m-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 35s linear infinite;
}






/* Define the keyframes for the scrolling animation */
@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}