html{
    scroll-behavior: smooth;
}
body{
 
   
  
    margin: 0;
    
}

@font-face {
    font-family: dancing ;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: yanone ;
    src: url(fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
}

.div-first{
  
    width: 100%;
    display: flex;
    flex-direction: column;
  align-items: center;
   justify-content: center;
height: 100svh;
    margin: 0;
    margin-top: 8.5em;

}



header{
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255,0.8);
  z-index: 100;
  
  
    font-family: dancing;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s;

   


}
header:hover{
  background-color: white;
  transition: 0.2s;
}

header .big-menu-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 3em;
    font-size: 1.1em;
    
}

header .big-menu-ul li{
    position: relative;
    cursor: pointer;
  
}

.spans-div{
  
  
  display:none;
  
 
}
.ham-menu-ul{
  z-index: 2;
 display: none;
  background-color: rgb(255, 255, 255,0.97);
  top: 80px;
 right: 0;
 left: 0;
 border-radius: 10px;
 opacity: 0;
 transition: 0.3s;
  position: absolute;
  text-align: center;
 
  list-style-type: none;
}
.ham-menu-ul li{
  
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  font-size: 1.5em;
}


.fa-bars{
  cursor: pointer;
font-size: 2.5em;
color: rgb(75, 117, 142);
}

.ham-menu-ul.active{
transition: 0.3s;
opacity: 1;
}


main .big-menu-ul li::after{
    content: "";
    position: absolute;
    width: 0;
   height: 0.1px;
   background-color: black;
   bottom: 0;
   left: 0;
   transition: 0.2s;


}
main .big-menu-ul li:hover:after{
    width: 100%;
    transition: 0.2s;
}


header img{
    width: 130px;
   
    
}

.main-div{
    position: relative;
     background-repeat: no-repeat;
     width: 100%;
    height: 100svh;

     background-size: cover;
}


.first-image {
  width:100%;
  height: 80vh; /* Set the height to cover the full viewport height */
  position: absolute;
  object-fit: cover;/* Ensures the image covers the entire area, maintaining aspect ratio */
  
}


.slogan-main{
    background-color: rgba(225, 240, 240, 0.8);
    height: fit-content;
    color: rgb(95, 90, 90);
    
    text-align: center;
    width: 100%;
   
}
.slogan-main h1{
font-size: 3em;
}
.slogan-main p{
    font-size: 1.4em;
}


/* button */


  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .wrap-but-1 {
    position: relative;
    
    top: -200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 58px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 28px;
  font-family: yanone;
width: 200px;
letter-spacing: 2px;

  margin-top: auto;
  margin-bottom: 2em;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
 

 

  @media only screen and (max-width: 700px) {
  
    header .big-menu-ul{
      display: none;
    }
   

    header{
      justify-content: space-between;
      
     
    }
   
    .spans-div{
      display: block;
    }
    .slogan-main{
      font-size: 0.7em;
    }
    .ham-menu-ul{
      display: block;
    }
  }