html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@font-face {
  font-family: headers;
  src: url(./fonts/NanumMyeongjo-Regular.ttf);
}

@font-face {
  font-family: review;
  src: url(./fonts/Rajdhani-Light.ttf);
}

@keyframes first-page {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slide-down {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0%);
  }
}

.div-first {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use vh instead of svh */
  margin: 0;
  animation: first-page 1.5s ease-in-out;
  font-family: headers;
  font-weight: normal;
}

header {
  animation: slide-down 2.5s ease-in-out;
  z-index: 100;
  letter-spacing: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.9); /* Add background for better visibility */
  position: fixed; /* Fix the header at the top */
  top: 0;
  padding: 1em 0; /* Add some padding */
}

header .big-menu-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 3em;
  font-size: 1.1em;
}

header .big-menu-ul li {
  position: relative;
  cursor: pointer;
}

.spans-div {
  display: none;
}

.ham-menu-ul {
  width: 100%;
  padding: 0;
  visibility: hidden;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.97);
  top: 80px;
  right: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  text-align: center;
  list-style-type: none;
}

.ham-menu-ul li {
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  font-size: 1.5em;
}

.fa-bars {
  cursor: pointer;
  font-size: 2.5em;
  color: rgb(75, 117, 142);
}

.ham-menu-ul.active {
  visibility: visible;
  transition: 0.3s;
  opacity: 1;
}

header img {
  width: 130px;
}

.main-div {
  position: relative;
  width: 100%;
  height: 100vh; /* Use vh instead of svh */
  background-size: cover;
  background-image: url(images/backgg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.first-image {
  width: 100%;
  height: 100vh; /* Use vh instead of svh */
  position: absolute;
  object-fit: cover;
}

.slogan-main{
    background-color: rgba(225, 240, 240, 0.8);
    height: fit-content;
    color: rgb(95, 90, 90);
    
    text-align: center;
    width: 100%;
   
}
.slogan-main h1{
font-size: 3em;
}
.slogan-main p{
    font-size: 1.4em;
}


/* button */


  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .wrap-but-1 {
    


    position: relative;
    
    top: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  a.button-link {
    display: inline-block; /* or display: block; depending on your layout needs */
    text-decoration: none; /* Remove underline by default */
    color: inherit; /* Inherit text color */
  }
  
  
  
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 58px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 28px;
  font-family: yanone;
width: 200px;
letter-spacing: 2px;

  margin-top: auto;
  margin-bottom: 2em;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
 
.fa-bars{
  margin-right: 0.5em;
}
 
@media only screen and (max-width: 700px) {
  .main-div {
      background-image: url(images/phoneimg2.png);
  }

  header .big-menu-ul {
      display: none;
  }

  header {
      justify-content: space-between;
  }

  .spans-div {
      display: block;
  }

  .ham-menu-ul {
      display: block;
  }
}