.sec-services img{
    max-width: 400px;
}

.sec-services{
    background-color: hsla(180, 1%, 77%, 0.1);

    margin-top: 7em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2em;
   
   


}
.div-services{
    font-size: 1.3em;
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.5;
    border-right: 1px solid rgb(255, 0, 157);
    border-bottom:1px solid rgb(25, 148, 201);
    padding: 15px;
}

.div-services img{
    object-fit: cover;
        aspect-ratio: 16/9;
}

@media only screen and (max-width: 1600px) {
   .sec-services{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
   }
  }
  @media only screen and (max-width: 500px) {

    
        .sec-services img{
            max-width: 300px;
        }
     
    
   }


