.sec-services img{
    width: 400px;
}

.sec-services{
    background-color: rgba(187, 193, 193, 0.1);
    margin-top: 7em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2em;
   
}


