.sec-services img{
    max-width: 400px;
}

.sec-services{

    overflow-x:hidden;

    margin-top: 7em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2em;
   
   



}

.div-services.hidden:nth-child(1){
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(10px) ;
    transition:all 1s ease-in-out;

}

.div-services.show:nth-child(1){
    filter: blur(0) ;

    transform: translateX(0);
    opacity: 1;
    transition:all 1s ease-in-out;

}

.div-services.hidden:nth-child(4){
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(10px) ;
    transition:all 1s ease-in-out;

}

.div-services.show:nth-child(4){
    filter: blur(0) ;

    transform: translateX(0);
    opacity: 1;
    transition:all 1s ease-in-out;

}
.div-services.hidden:nth-child(2){
    opacity: 0;
    scale: 0;
    filter: blur(10px) ;
    transition:all 1s ease-in-out;

}

.div-services.show:nth-child(2){
    filter: blur(0) ;

    scale: 1;
    opacity: 1;
    transition:all 1s ease-in-out;

}
.div-services.hidden:nth-child(5){
    opacity: 0;
    scale: 0;
    filter: blur(10px) ;
    transition:all 1s ease-in-out;

}

.div-services.show:nth-child(5){
    filter: blur(0) ;

    scale: 1;
    opacity: 1;
    transition:all 1s ease-in-out;

}

.div-services.hidden:nth-child(3),.div-services.hidden:nth-child(6){
    opacity: 0;
    transform: translateX(100%);
    filter: blur(10px) ;
    transition:all 1s ease-in-out;

}

.div-services.show:nth-child(3),.div-services.show:nth-child(6) {
    
    filter: blur(0) brightness(1);

    transform: translateX(0);
    opacity: 1;
    transition:all 1s ease-in-out;

}



.div-services{
    font-size: 1.3em;
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.5;
    border: 3px solid gold;
    margin-bottom: 1em;
    padding: 15px;
}

.div-services img{
    object-fit: cover;
        aspect-ratio: 16/9;
}

@media only screen and (max-width: 1600px) {
   .sec-services{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
   }
  }
  @media only screen and (max-width: 500px) {

    
        .sec-services img{
            max-width: 300px;
        }
     
    
   }


